@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Home Page";
}

<h1>Gymlog-Home</h1>
@if (_signInManager.IsSignedIn(User))
 {
    <h2>Hello @_userManager.GetUserName(User)</h2>
 }
