@model IEnumerable<Gymlog.Models.Workout>

@{
    ViewData["Title"] = "Workouts";
}
<h2>Workouts</h2>
<p>
    <a asp-area="" asp-controller="Add" asp-action="Workout">Create New</a>
</p>
<hr />
<ul class="list-group">
    @foreach(var workout in Model)
    {
        <a href="/Saved/Workout?id=@workout.Id">
        <li class="list-group-item" style="max-width:500px">@workout.Name</li></a>
    }
</ul>