@model IEnumerable<Workout>

@{
    ViewData["Title"] = "Saved Workouts";
}
<h2>Saved Workouts</h2>
<p>
    <a asp-area="" asp-controller="Add" asp-action="Workout">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var workout in Model)
        {
            <tr>
                <td>@workout.Name</td>
                <td>
                    <a href="/Saved/Workout?id=@workout.Id">View</a>
                </td>
                <td>
                    <a href="/Saved/LogWorkout?id=@workout.Id">Log Workout</a>
                </td>

            </tr>
        }
    </tbody>
</table>

