
@{
    ViewData["Title"] = "Add Workout";
}

<div id="workout-container">
    <hr />
    <input type="text" class="form-control" placeholder="Workout Name" name="workout-name" v-model="workoutName"/>
    <hr />
    <div id="workout-exercise-container">
        <workout-exercise v-for="x in exercises" :exercise="x" />
    </div>

    <button class="btn btn-default" v-on:click="addExercise">Add Exercise</button>
    <form method="post" v-on:submit="post">
        <input type="hidden" name="data" id="data" />
        <input type="hidden" name="name" id="workout-name" />
        <input type="submit" class="btn btn-default" value="Save Workout" />
    </form>
</div>

<script type="text/x-template" id="workout-exercise-template">
    <div>
        <input type="text" class="form-control" placeholder="Exercise Name" name="exercise-name" v-model="exercise.name" />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Set
                    </th>
                    <th>
                        Reps
                    </th>
                    <th>
                        Comments
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, x) in exercise.rows" :key="x">
                    <td>
                        {{row.setNumber}}
                    </td>
                    <td>
                        <input min="1" type="number" v-model="row.reps" />
                    </td>
                    <td>
                        <input type="text" v-model="row.comments" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" v-on:click="addRow">Add Set</button>
    </div>
</script>

<script>
    class Exercise {
        constructor() {
            this.name = "";
            this.rows = [new Row(1)];
        }
    }
    class Row {
        constructor(setNumber) {
            this.setNumber = setNumber;
            this.reps = 1;
            this.comments = "";
        }
    }

    const ExerciseComponent = Vue.component("workout-exercise", {
        template: "#workout-exercise-template",
        props: ["exercise"],
        data() {
            return {
                nextSetNumber: 2
            };
        },
        methods: {
            addRow() {
                this.exercise.rows.push(new Row(this.nextSetNumber++));
            }
        }
    });

    new Vue({
        el: "#workout-container",
        data: {
            workoutName: "",
            exercises: [new Exercise()]
        },
        methods: {
            addExercise() {
                this.exercises.push(new Exercise());
            },
            post() {
                document.getElementById("data").value = JSON.stringify(this.exercises);
                document.getElementById("workout-name").value = this.workoutName;
            }
        }
    });
</script>
